<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLOv5 Object Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>YOLOv5 Object Detection</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="file">Upload An Image:</label><br><br>
            <input type="file" id="file" name="file" accept="image/*" required><br><br>
            <input type="submit" value="Upload"><br><br>
        </form>
        <img src="../static/css/w.gif" width="150px" style="border: none;">
    </div><br><br>

    
        {% if uploaded_image %}
        <h2>Processed Image:</h2>
        <img src="{{ url_for('static', filename=uploaded_image) }}" alt="Processed Image" style="max-width:100%; max-height:300px; border: 1px solid #ccc; border-radius: 10px;">
        {% endif %}
        <br><br>
    
</body>
</html>
